@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form>
        <h2>Modal Example</h2>
        <button asp-controller="Invitations" asp-action="Add" class="btn btn-info btn-lg">Open Modal</button>
    </form>

</div>
