@model Connectly.Models.InvitationViewModels.CreateInviteViewModel

<form method="post">
    <h1>Send Invite</h1>
    <input type="text" class="form-control" asp-for="EmailOfReceiver"/>
    <button type="submit" class="btn btn-info">Send</button>
</form>