@model Connectly.Models.AccountViewModels.RegisterViewModel;
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutLogin";
}

<form method="post" class="w-full">
    <div class="text-center">
        <div class="container mx-auto px-4">
            <div class="bg-white shadow-lg rounded-lg mb-4 p-6 mt-8">
                <p class="mb-4 text-2xl text-[#4b4276] font-bold">Sign up for Connectly</p>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger" style="font-size:15px"></div>
                    <div class="md:flex-column">
                        <span asp-validation-for="FirstName" class="text-danger" style="font-size:12px;"></span>
                        <input type="text" class="w-full p-3 border border-gray-300 rounded-md" asp-for="FirstName" placeholder="First Name" required />
                    </div>
                    <div class="md:flex-column">
                        <span asp-validation-for="LastName" class="text-danger" style="font-size:12px;"></span>
                        <input type="text" class="w-full p-3 border border-gray-300 rounded-md" asp-for="LastName" placeholder="Last Name" required />
                    </div>
                    <div class="md:flex-column">
                        <span asp-validation-for="EmailAddress" class="text-danger" style="font-size:12px;"></span>
                        <input type="email" class="w-full p-3 border border-gray-300 rounded-md" asp-for="EmailAddress" placeholder="Email Address" required />
                    </div>
                    <div class="md:flex-column">
                        <span asp-validation-for="Username" class="text-danger" style="font-size:12px;"></span>
                        <input type="text" class="w-full p-3 border border-gray-300 rounded-md" asp-for="Username" placeholder="Username" required />
                    </div>
                    <div class="md:flex-column">
                        <span asp-validation-for="Password" class="text-danger" style="font-size:12px;"></span>
                        <input type="password" class="w-full p-3 border border-gray-300 rounded-md" asp-for="Password" placeholder="Password" required />
                    </div>
                    <div class="md:flex-column">
                        <span asp-validation-for="ConfirmPassword" class="text-danger" style="font-size:12px;"></span>
                        <input type="password" class="w-full p-3 border border-gray-300 rounded-md" asp-for="ConfirmPassword" placeholder="Confirm Password" required />
                    </div>
                    <div class="md:flex-column">
                        <span asp-validation-for="Gender" class="text-danger" style="font-size:12px;"></span>
                        <select class="w-full p-3 border border-gray-300 rounded-md" asp-for="Gender">
                            <option value="" disabled selected>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="md:flex-column">
                        <span asp-validation-for="DateOfBirth" class="text-danger" style="font-size:12px;"></span>
                        <input type="text" value="Date Of Birth" placeholder="Date Of Birth" class="w-full p-3 border border-gray-300 rounded-md" asp-for="DateOfBirth" onfocus="(this.type='date')" onblur="(this.type='text')" required />
                    </div>
                    <div class="md:flex-column">
                        <span asp-validation-for="AccountPrivacy" class="text-danger" style="font-size:12px;"></span>
                        <select class="w-full p-3 border border-gray-300 rounded-md" asp-for="AccountPrivacy">
                            <option value="" disabled selected>Account Privacy</option>
                            <option value="Only friends">Only Friends</option>
                            <option value="Friends of friends">Friends Of Friends</option>
                            <option value="Public">Public</option>
                        </select>
                    </div>
                    <div class="md:flex-column">
                        <span asp-validation-for="VerificationCode" class="text-danger" style="font-size:12px;"></span>
                        <input type="text" placeholder="Verification Code" class="w-full p-3 border border-gray-300 rounded-md" asp-for="VerificationCode" required />
                    </div>
                </div>
                <div class="mt-6">
                    <button type="submit" class="w-1/3 md:w-1/4 p-3 text-xl text-white bg-blue-500 rounded-lg hover:bg-blue-600">Register</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}