@using Connectly.Contracts
@using Microsoft.AspNetCore.Identity;
@inject IGlobalService _globalService;

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Connectly</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Connectly.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css//styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body style="background-color: whitesmoke ">
    <div class="w-full flex h-svh max-h-svh">
        <nav class="hidden h-full flex-[0.3] md:block" style="background-color: #4b4276;">
            <div class="container mx-auto px-4">
                <ul class="list-none flex flex-col lg:space-x mt-4">
                    <li class="nav-item nav-link">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="text-white no-underline">
                            <h1 class="text-4xl uppercase mb-4 lg:mb-0">Connectly</h1>
                        </a>
                    </li>

                    <li class="nav-item nav-link">
                        <a asp-controller="Friendships" asp-action="FriendsOfUser" class="text-white no-underline flex items-center">
                            <i class="fa-solid fa-user-group mr-2"></i>
                            <h5 class="inline-block">All Friends</h5>
                        </a>
                    </li>

                    <li class="nav-item nav-link">
                        <a asp-controller="Friendships" asp-action="FriendRequests" class="relative text-white no-underline flex items-center">
                            <i class="fa-solid fa-user-plus mr-2"></i>
                            @if (_globalService.IsThereFriendRequests())
                            {
                                <span class="notification"></span>
                            }
                            <h5 class="inline-block">Friend Requests</h5>
                        </a>
                    </li>
                    <li class="nav-item nav-link">
                        <a asp-controller="Friendships" asp-action="SentRequests" class="text-white no-underline flex items-center">
                            <i class="fa-solid fa-share mr-2" style="width: 20px"></i>
                            <h5 class="inline-block">Your Requests</h5>
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="flex h-full flex-1 flex-col">
            <div class="h-full flex-1">
                <main role="main" class="pb-3 flex h-full flex-col justify-between overflow-y-scroll">
                    @RenderBody()
                </main>
            </div>
            <div class="fixed w-full border-gray-500 bottom-0 block py-3 flex justify-between pr-20 pl-20 md:hidden" style="background-color: #4b4276;">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="text-white no-underline">
                    <i class="fa-solid fa-house" style="width: 20px"></i>
                </a>
                <a asp-controller="Friendships" asp-action="FriendsOfUser" class="text-white no-underline flex items-center">
                    <i class="fa-solid fa-user-group mr-2" style="width: 20px"></i>
                </a>
                <a asp-controller="Friendships" asp-action="FriendRequests" class="relative text-white no-underline flex items-center">
                    <i class="fa-solid fa-user-plus mr-2" style="width: 20px"></i>
                    @if (_globalService.IsThereFriendRequests())
                    {
                        <span class="mini-notification"></span>
                    }
                </a>
                <a asp-controller="Friendships" asp-action="SentRequests" class="text-white no-underline flex items-center">
                    <i class="fa-solid fa-share mr-2" style="width: 22px"></i>
                </a>
            </div>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
