html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.notification {
    position: absolute;
    top: -6px;
    right: 91%;
    padding: 4px;
    border-radius: 100%;
    background: red;
    color: white;
}

.mini-notification {
    position: absolute;
    top: -5px;
    right: 7px;
    padding: 4px;
    border-radius: 100%;
    background: red;
    color: white;
}
